:root {
    --font-titulo: 'PT Sans' Sans-serif;
    --font-parrafos: 'Open Sans' Sans-serif;

    --color-primario: #784D3C;
    --color-blanco: #ffffff;
    --color-negro: #000;
    --color-gris:#68686890;

    --font-size-celular-tablet: 2rem;
    --font-size-celular-tablet-Titulo: 3.5rem;
    --font-size-pc-texto: 2rem;
    --font-size-pc-Titulo: 4.5rem;
}
html {
    box-sizing: border-box;
    font-size: 62.5%;
}
*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
body{
    font-family: var(--font-parrafos);
    font-size: 1.6rem;
    line-height: 2;
}
/*GLOBALES*/
a{
    text-decoration: none;
    color: var(--color-negro);
}
h1,
h2,
h3,
h4 {
    font-family: var(--font-titulo);
    line-height: 1.2;
}
h1 {
    font-size: 4.8rem;
}
h2 {
    font-size: 4rem;
}
h3 {
    font-size: 3.2rem;
}
h4 {
    font-size: 2.5rem;
}
img {
    max-width: 100%;
}

/*UTILIDADES*/
.no-margin {
    margin: 0;
}

.no-padding {
    padding: 0;
}

.centrar-texto {
    text-align: center;
}

/*font size global*/
/** CELULAR-TABLET **/
@media(max-width:768px) {
    body {
        font-size: var(--font-size-celular-tablet);
    }

    .barra>.logo>.logo__nombre {
        font-size: var(--font-size-celular-tablet-Titulo);
    }
}
/*Tamaño ya estilizado del boton responsive primario y secundario*/
/*Boton de blog y barra lateral*/
.boton{
    display: block;
    text-align: center;
    font-family: var(--font-titulo);
    font-size: 1.7rem;
    text-transform: uppercase;
    font-weight: 700;
    margin: 1rem 0;
    padding: 1rem 2rem;
    border-radius: 0.6rem;
    border: none;
}
.boton--primario{
    background-color: var(--color-negro);
    color: var(--color-blanco);
}
.boton--secundario{
    background-color: var(--color-primario);
    color: var(--color-blanco);
}
@media(min-width:769px){
    .boton{
        display: inline-block; 
     }
}
/** PC **/
@media(min-width:769px) {
    body {
        font-size: var(--font-size-pc-texto);
    }

    .barra>.logo>.logo__nombre {
        font-size: var(--font-size-pc-Titulo);
    }

    .header__texto>h2 {
        font-size: var(--font-size-pc-Titulo);
    }

    .header__texto>p {
        font-size: var(--font-size-pc-texto);
    }
}

/*------HEADER---------*/
.webp .header{
    background-image: url(../img/banner.webp);
}
.no-web´.header{
    background-image: url(../img/banner.jpg);
}
.header {
    background-image: url(../img/banner.jpg);
    height: 60rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

/*Color de texto*/
.barra>.logo>.logo__nombre,
.barra>.navegacion>.navegacion__enlace,
.header>.header__texto>h2,
.header>.header__texto>p {
    color: var(--color-blanco);
    font-family: var(--font-titulo);
    text-align: center;
}

/*Repsonsive Celular-Tablet*/
@media(max-width:768px) {
    .barra {
        padding: 1rem 0;
    }

    .barra>.navegacion {
        padding: 2rem 0;
    }

    .barra,
    .barra>.navegacion {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .header__texto {
        margin-top: 7rem;
    }

    .header__texto>p {
        padding: 0 2rem;
    }
}

/*Responsive PC*/
@media(min-width:769px) {
    .contenedor>.barra {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
    }

    .navegacion {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .navegacion>.navegacion__enlace {
        margin: auto 3rem;
    }

    .header__texto {
        margin-top: 15rem;
    }
}

/*Blog Contenido principal index.html*/

.contenido-principal>.blog>h2,
.contenido-principal>.sidebar>h2 {
    text-align: center;
    font-size: 3.5rem;
}
.entrada-blog{
    padding: 1rem 0;
    border-bottom: 1px solid var(--color-negro);
}
/*last of type "Selecciona al ultima" */
.entrada-blog:last-of-type{
    border-bottom: none;
    margin-bottom: 0;
}

@media(max-width:768px) {
    .contenedor {
        width: 90%;
        margin: 0 auto;
    }
    .contenido-principal>.blog>h2,
    .contenido-principal>.sidebar>h2{
        padding: 2rem 0;
    }

}
@media(min-width:769px) {
    .contenedor {
        width: 90%;
        margin: 0 auto;
        max-width: 120rem;
    }
    .contenido-principal {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 4rem;
    }
}
/*SIDEBAR Barra Lateral*/
.sidebar> .cursos{
    list-style: none;
}
.cursos > .lateral_cursos{
    border-bottom: 1px var(--color-gris) solid;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.cursos > .lateral_cursos:last-of-type{
    border: none;
    margin: 0;
}
.lateral_cursos > p{
    font-family: var(--font-titulo);
    font-weight: bold;
}
.lateral_cursos > p > span{
    font-weight: normal;
}
/*Footer*/
.footer{
    background-color: var(--color-negro);
    padding: 1rem 0;
    margin-top: 2rem;
}
/*-----------Pagina 2 Nosotros----------*/
.pagina_nosotros > .contenedor{
    margin: 1rem auto;
}
.pagina_nosotros > .contenedor > .entrada-nosotros{
    padding: 1rem 0;
}
@media(min-width:769px){
    .pagina_nosotros > .contenedor > .entrada-nosotros{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 4rem;
    }    
}
/*----------Pagina 3 Cursos-------------------*/
.pagina_cursos > .contenedor{
    margin: 1rem auto;
}
.pagina_cursos > .contenedor > .curso{
    border-bottom: 1px solid var(--color-gris);
    padding: 3rem 0;
}
.pagina_cursos > .contenedor > .curso:last-of-type{
    border-bottom: none;
    padding-bottom: 0;
}
.pagina_cursos > .contenedor > .curso > .curso__info > p{
    font-family: var(--font-titulo);
    font-weight: bold;
    padding: 1rem 0;
}

.pagina_cursos > .contenedor > .curso > .curso__info > p > span,
.pagina_cursos > .contenedor > .curso > .curso__info > p:last-of-type{
    font-weight: normal;
}
@media(min-width:769px){
    .pagina_cursos > .contenedor > .curso{
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 4rem;
    }
    .pagina_cursos > .contenedor > .curso > .curso__info{
        margin: 0 auto;
    }
}
/*------------pagina_blog_entrada 4-----------*/
.pagina_blog_entrada > .contenedor > h3{
    padding: 2rem 0;
}
/*-----------pagina contacto 5-----------*/
.pagina_contacto > .contenedor > .contacto-bg{
    background-image: url(../img/contacto.jpg);
    height: 40rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.formulario{
    background-color: var(--color-blanco);
    margin: -5rem auto 0 auto;
    width: 95%;
    padding: 3rem;
    
}
.campo{
    display: flex;
    gap: 2rem;
    margin-bottom: 1rem;
}
.campo__label{
    flex: 0 0 10rem;
    text-align: right;
}
.campo__field{
    flex: 1;
    border: 1px solid var(--color-gris);
}
.campo__field--textarea{
    height: 20rem;
}