:root {
    --fuente-titulos: Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fuente-titulos);
}

html {
    font-size: 62.5%;
}

.header {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.911),
        rgba(0, 0, 0, 0.389)
    ), url("../src/img-principal.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 70rem;
}

.fondo_oscuro {
    background-color: rgba(0, 0, 0, 0.5);
    height: 50rem;
}

.container-nav {
    display: flex;
    justify-content: space-around;
}

.logo {
    height: 10rem;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.img-logo {
    height: 100%;
}

.text-logo {
    font-size: 2.5rem;
    letter-spacing: .4rem;
    color: white;
}

.nav {
    display: flex;
    gap: 10rem;
    justify-content: space-around;
    align-items: center;
}
.enlaces_nav{
    text-decoration: none;
    color: white;
    font-size: 2.6rem;
    font-weight:400;
}
.container-principal{
    width: 90%;
    margin: 10rem auto 0 auto;
}
.text_principal{
    color: white;
    font-size: 12rem;
    font-weight:500;
    text-align: center;
}
