:root{
    --font-serif: 'PT Serif', serif;
    --font-clash: 'Clash Display', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    transition: all .3s;
}
html{
    font-size: 62.5%;
}

/*NAV*/
/*----------Logo------*/
a{
    text-decoration: none;
    color: black;
    font-family: var(--font-serif);
    font-size: 2.6rem;
}
.nav{
    display: flex;
    height: 10rem;
    align-items: center;
    justify-content: space-between;
    align-content: center;
}
.nav > .logo > a > h1,
.nav > .logo > a > p{
    color: #7e600c;
}
.nav > .logo > img{
    width: 10rem;
}
.nav .logo > a > p{
    text-decoration: underline;
}

.logo{
    display: flex;
    justify-content:center;
    flex: 2;
    text-align: center;
    align-items: center;
}
/*---------------Enlaces------------*/
.nav > .contenido-enlaces{
    display: flex;
    justify-content: right;
    margin: auto 20rem;
    flex: 6;
}
.nav > .contenido-enlaces > .enlaces{
    max-width: 80rem;
    min-width: 200px;
    display: flex;
    justify-content: space-around;
}

.nav >  .contenido-enlaces > .enlaces > a{
    padding: 1rem 2rem;
}
/*HOVER ENLACES*/
@media(min-width:800px){
    .nav > .contenido-enlaces > .enlaces > a:hover{
        color: #7e600c;
        font-size: 2.8rem;
    } 
}

@media(max-width:768px){
    .nav{
        flex-direction: column;
        height: 100%;
    }
    /*Media Query Logo Nav*/
    .nav > .logo{
        padding: 1rem 0;
        flex-direction: column;
    }
    .nav> .logo > img{
        width: 10rem;
    }
    /*Media Query Enlaces Nav*/
    .nav > .contenido-enlaces> .enlaces{
        flex-direction: column;
        margin: 1rem 0;
        text-align: center;
    }

}
@media(min-width:769px){
    /*Media Query Logo Nav*/
    .nav > .logo{
        width: 20rem;
        flex: auto;
    }
    /*Media Query Enlaces Nav*/
    .nav > .contenido-enlaces{
        margin: 0;
        width: auto;
        justify-content: center;
    }
    .nav > .contenido-enlaces > .enlaces{
        width: 100%;
        justify-content: space-around;
    }
}
/*img-Presentacion*/
.img-presentacion{
    margin: 1rem auto;
    background-image: url(src/fondo_main.jpg);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
}
@media(max-width:600px){
    .img-presentacion{
        max-width: 568px;
        min-height: 20rem;
        max-height: 30rem;
    }
}
@media(min-width:601px){
    .img-presentacion{
        max-width: 900px;
        height: 30rem;
        max-height: 500rem;
    }
}
@media(min-width:900px){
    .img-presentacion{
        max-width: 100%;
        max-height: 70%;
        height: 60rem;
    }
}
/*Titulo*/
body > .tittle-cuerpo-1{
    text-align: center;
    margin: 1rem 0;
    font-size: 4rem;
}
/*cuerpo-1*/
.cuerpo-1{
    display: grid;
    margin: 0 auto;
}
.cuerpo-1 > .caja-img {
    display: flex;
    justify-content: center;
    align-items: center;
}
.cuerpo-1 > .caja-img > img{
    border: 2px black solid;
    border-radius: 1.5rem;
    max-width: 90%;
    object-fit: cover;
    width: 100%;
    height: 100%;

}
@media(max-width:768px){
    .cuerpo-1{
        grid-template-columns: 1fr;
    }
    .cuerpo-1 > .caja-img{
        margin: 1rem auto;
        width: 95%;
        height: 40rem;
    }
}
@media(min-width:769px){
    .cuerpo-1{
        width: 90%;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(2,1fr);
        gap: 1.5rem 0;
    }
    .cuerpo-1 > .caja-img{
        height: 50rem;
    }
    .cuerpo-1 > .caja-img > img{
        height: 80%;
    }
}