:root{
    --font-serif: 'PT Serif', serif;
    --font-clash: 'Clash Display', sans-serif;
    /*CELULAR TEXTOS*/
    --font-size-celular-tablet: 1.9rem;
    --font-size-celular-tablet-Titulo:2.3rem;
    --font-size-pc-laptop:2.5rem;
    --font-size-pc-laptop-Titutlo:3rem;
}
*{
    margin: 0;
    padding: 0;
    transition: all .3s;
}
html{
    font-size: 62.5%;
}
/*Titulos*/
.tittle{
    text-align: center;
    margin: 1rem 0;
    font-size: 4rem;
}

/*NAV*/
/*----------Logo------*/
a{
    text-decoration: none;
    color: black;
    font-family: var(--font-serif);
    font-size: var(--font-size-celular-tablet-Titulo);
}
.nav{
    display: flex;
    height: 10rem;
    align-items: center;
    justify-content: space-between;
    align-content: center;
}
.nav > .logo > a > h1,
.nav > .logo > a > p{
    color: #7e600c;
}
.nav > .logo > img{
    width: 10rem;
}
.nav .logo > a > p{
    text-decoration: underline;
}

.logo{
    display: flex;
    justify-content:center;
    flex: 2;
    text-align: center;
    align-items: center;
}
/*---------------Enlaces------------*/
.nav > .contenido-enlaces{
    display: flex;
    justify-content: right;
    margin: auto 20rem;
    flex: 6;
}
.nav > .contenido-enlaces > .enlaces{
    max-width: 80rem;
    min-width: 200px;
    display: flex;
    justify-content: space-around;
}

.nav >  .contenido-enlaces > .enlaces > a{
    padding: 1rem 2rem;
}
/*HOVER ENLACES*/
@media(min-width:800px){
    .nav > .contenido-enlaces > .enlaces > a:hover{
        color: #7e600c;
        font-size: 2.8rem;
    } 
}

@media(max-width:768px){
    .nav{
        flex-direction: column;
        height: 100%;
    }
    /*Media Query Logo Nav*/
    .nav > .logo{
        padding: 1rem 0;
        flex-direction: column;
    }
    .nav> .logo > img{
        width: 10rem;
    }
    /*Media Query Enlaces Nav*/
    .nav > .contenido-enlaces> .enlaces{
        flex-direction: column;
        margin: 1rem 0;
        text-align: center;
    }

}
@media(min-width:769px){
    /*Media Query Logo Nav*/
    .nav > .logo{
        width: 20rem;
        flex: auto;
    }
    /*Media Query Enlaces Nav*/
    .nav > .contenido-enlaces{
        margin: 0;
        width: auto;
        justify-content: center;
    }
    .nav > .contenido-enlaces > .enlaces{
        width: 100%;
        justify-content: space-around;
    }
}
/*img-Presentacion*/
.img-presentacion{
    margin: 1rem auto;
    background-image: url(src/fondo_main.jpg);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
}
@media(max-width:600px){
    .img-presentacion{
        max-width: 568px;
        min-height: 20rem;
        max-height: 30rem;
    }
}
@media(min-width:601px){
    .img-presentacion{
        max-width: 900px;
        height: 30rem;
        max-height: 500rem;
    }
}
@media(min-width:900px){
    .img-presentacion{
        max-width: 100%;
        max-height: 70%;
        height: 60rem;
    }
}

/*cuerpo-1*/
.cuerpo-1{
    display: grid;
    margin: 0 auto;
}
.cuerpo-1 > .caja-img {
    display: flex;
    justify-content: center;
    align-items: center;
}
.cuerpo-1 > .caja-img > img{
    border: 2px black solid;
    border-radius: 1.5rem;
    max-width: 90%;
    object-fit: cover;
    width: 100%;
    height: 100%;

}
@media(max-width:768px){
    .cuerpo-1{
        grid-template-columns: 1fr;
    }
    .cuerpo-1 > .caja-img{
        margin: 1rem auto;
        width: 95%;
        height: 40rem;
    }
}
@media(min-width:769px){
    .cuerpo-1{
        width: 90%;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(2,1fr);
        gap: 1.5rem 0;
    }
    .cuerpo-1 > .caja-img{
        height: 50rem;
    }
    .cuerpo-1 > .caja-img > img{
        height: 80%;
    }
}
/*Cuerpo-2*/
.cuerpo-2 > .contenedor > .section-info{
    width: 80%;
    margin: 0 auto;
}
.section-info > img{
    margin: 2rem auto;
    object-fit: cover;
}
@media(max-width:768px){
    .cuerpo-2 > .contenedor > .section-info{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .section-info > p{
        font-size: var(--font-size-celular-tablet);
    }
    .section-info > img{
        min-width: 20rem;
        max-width: 30rem;
        width: 100%;
        height: 40rem;
        margin: 2rem auto;
        object-fit: cover;
    }
    /*Titulo Del final*/
    .section-info > h3{
        font-size: var(--font-size-celular-tablet-Titulo);
        text-align: center;
    }
}
@media(min-width:769px){
    .cuerpo-2 > .contenedor > .section-info{
        display: grid;
        width: 80%;
        grid-template-columns: repeat(2,1fr);
        align-items: center;
        justify-content: center;
    }
    .section-info > p{
        font-size: var(--font-size-pc-laptop);
    }
    .section-info > img{
        min-width: 20rem;
        max-width: 40rem;
        width: 100%;
        height: 40rem;
    }
    /*Acomodando imagenes en sicsac para Responsive laptop y pc*/
    .section-info > img:nth-child(4){
        grid-column: 1/2;
        grid-row: 2/3;
    }
    .section-info > img:nth-child(8){
        grid-column: 1/2;
        grid-row: 4/5;
    }
    .section-info > p:nth-child(9){
        grid-column: 1/3;
        grid-row: 5/6;
    }
    .section-info > h3{
        grid-column: 1/3;
        /*Titulo del Final*/
        font-size: var(--font-size-pc-laptop-Titutlo);
        text-align: center;
        text-decoration: underline;
    }
}